@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";
@import "base/_font_setting";
@import "base/_default";


.rms_pc__header {
    height: 219px;
}
.rms_pc__headerIframe {
    height: 219px;
    z-index: 9999;
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1200px;
    margin: 0;
    iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}

.rms_pc__footer {
    height: 764px;
}
.rms_pc__footerIframe {
    height: 764px;
    z-index: 9999;
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1200px;
    margin: 0;
    margin-top: 22px;
    iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}

@import "parts/_rms_pc__stylesImport";











