@charset "utf-8";
@import "../core/mixin";

$c1: #B49A64;
$c2: #e3682c;//orange
$c3: #6a523f; //brown
$c4: #f1efea; //bg_ltgrey
$c5: #383c3c; //de_grey__text

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;
