@charset "utf-8";
@import "../core/mixin";

$c1: #B8983F;//lt_browm
$c2: #e3682c;//orange
$c3: #6a523f; //brown
$c4: #f1efea; //bg_ltgrey
$c5: #383c3c; //de_grey__text
$c6: #77A47B;
$c7: #ec6d51;

$kg2: #00a3af;
$kg4: #884898;
$kg45: #4c6cb3;
$kg5: #59972b;
$kg6: #72640c;
$kg8: #b0872a;
$kg9: #e95388;
$kg10: #ec6800;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;
