@charset "utf-8";
@import "../core/mixin";

$c1: #B49A64;
$c2: #7CC171;
$c3: #6a523f; //brown
$c4: #000;
$c5: #000;

$google-color: #C53727;
$facebook-color: #3B5998;
$twitter-color: #00aced;
$line-color: #5ae628;
$instagram-color: #3f729b;
$tumblr-color: #34526f;
