@charset "utf-8";
@import "../core/mixin";
@import "../base/_font_setting__extend";

/*-----------------------------------------------
 __setting
-----------------------------------------------*/
$base_font__color: #000;
$link-color: #21759b;



/*-----------------------------------------------
 __font default
-----------------------------------------------*/
body {
    line-height: 1.75;
    @include font-size(16);
    word-wrap : break-word;
    overflow-wrap : break-word;
    font-weight: normal;
    font-family:"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Roboto, Meiryo, sans-serif;
    text-rendering: optimizeLegibility;
    color: $base_font__color;
}

a, a:link, a:active, a:visited {text-decoration: underline;outline: none;}
a:hover, a:active {outline: 0;}
a, a:visited, a:focus, a:active {color: $link-color;}
a:hover {color: $link-color;}

/*-----------------------------------------------
 __fontfamily
-----------------------------------------------*/
.serif {
    font-family: 'Times New Roman', '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', '小塚明朝 ProN', 'メイリオ', Meiryo, 'Sawarabi Mincho' serif;
}
/*-----------------------------------------------
 __fontweight
-----------------------------------------------*/
.fw700 {@extend %fw700;}
.fw600 {@extend %fw600;}
.fw500 {@extend %fw500;}
.fw400 {@extend %fw400;}
.fw300 {@extend %fw300;}

/*-----------------------------------------------
 __letterspacing centering
-----------------------------------------------*/
.lt1 {@extend %lt1;}
.lt2 {@extend %lt2;}
.lt3 {@extend %lt3;}

/*-----------------------------------------------
 __fontsize
-----------------------------------------------*/
.fz_42 {@extend %fz_42;}
.fz_36 {@extend %fz_36;}
.fz_30 {@extend %fz_30;}
.fz_28 {@extend %fz_28;}
.fz_24 {@extend %fz_24;}
.fz_22 {@extend %fz_22;}
.fz_20 {@extend %fz_20;}
.fz_18 {@extend %fz_18;}
.fz_16 {@extend %fz_16;}
.fz_15 {@extend %fz_15;}
.fz_14 {@extend %fz_14;}
.fz_13 {@extend %fz_13;}
.fz_12 {@extend %fz_12;}


