@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";


.md_bottomNav__wrap {
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
    @include media(1200px) {
        padding-bottom: 40px;
    }
    @include media(979px) {
        padding-top: 0;
    }
    @include media(767px) {
        padding-bottom: 10px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background-image: url(../images/bg_stripe__brn40.png);
        background-repeat: repeat;
        background-size: 12px;
        width: 100%;
        height: 68%;
        z-index: 0;
        @include media(600px) {
            display: none;
        }
    }
}
.md_bottomNav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    li {
        box-sizing: border-box;
        a {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            position: relative;
        }
        &:nth-child(1) {
            flex: 0 1 47.5%;
            @include media(1100px) {
                flex: 0 1 50%;
            }
            @include media(600px) {
                flex: 0 1 100%;
            }
            img {
                &.ttl {
                    padding-left: 15px;
                    @include media(600px) {
                        padding: 0;
                    }
                }
            }
        }
        &:nth-child(2) {
            flex: 0 1 52.5%;
            @include media(1100px) {
                flex: 0 1 50%;
            }
            @include media(600px) {
                flex: 0 1 100%;
                a {
                    justify-content: flex-end;
                }
            }
            img {
                &.ttl {
                    padding-left: 15px;
                    @include media(600px) {
                        padding: 0;
                        left: auto;
                        right: 75%;
                    }
                }
            }
        }
        &:nth-child(3) {
            flex: 0 1 52.5%;
            @include media(1100px) {
                flex: 0 1 50%;
            }
            @include media(600px) {
                flex: 0 1 100%;
            }
            a {
                justify-content: flex-end;
                @include media(600px) {
                    justify-content: flex-start;
                }
            }
            img {
                &.ttl {
                    padding-left: 0px;
                    padding-right: 15px;
                    margin-top: 45px;
                    order: 0;
                    @include media(600px) {
                        padding: 0;
                        margin-top: 0;
                    }
                }
            }
        }
        &:nth-child(4) {
            flex: 0 1 47.5%;
            @include media(1100px) {
                flex: 0 1 50%;
            }
            @include media(600px) {
                flex: 0 1 100%;
            }
            a {
                justify-content: flex-end;
            }
            img {
                &.ttl {
                    padding-left: 0px;
                    padding-right: 15px;
                    margin-top: 45px;
                    order: 0;
                    @include media(600px) {
                        padding: 0;
                        margin-top: 0;
                        left: auto;
                        right: 75%;
                    }
                }
            }
        }
        img {
            width: auto;
            height: 186px;
            display: block;
            order: 2;
            @include media(1100px) {
                width: 74%;
                height: auto;
            }
            @include media(600px) {
                width: 70%;
            }
            &.ttl {
                @include media(1100px) {
                    width: 13.5%;
                    height: auto;
                    box-sizing: border-box;
                }
                @include media(767px) {
                    width: 15%;
                }
                @include media(600px) {
                    position: absolute;
                    left: 75%;
                    top: 10px;
                    width: 11%;
                }
            }
        }
    }
}

.md_footer {
    margin-top: 80px;
    padding: 40px 0;
    background: $c4;
    color: $c5;
    @include media(1366px) {
        padding: 40px;
    }
    @include media(1200px) {
        margin-top: 40px;
    }
    @include media(767px) {
        padding-right: 3%;
        padding-left: 3%;
    }
    @include media(660px) {
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 5%;
    }
}


.md_footer__wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.md_footerGuide__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    @include media(660px) {
        display: block;
    }
    > li {
        flex: 0 1 48.5%;
        margin-bottom: 3%;
        background: #fff;
        @include media(660px) {
            margin-bottom: 5%;
        }
    }
}
.md_footerGuide {
    padding: 20px 6%;
    .guide_line {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    .guide_note {
        padding-top: .75em;
    }
    .guide_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        > li {
            flex: 0 1 48.5%;
            margin-bottom: 3%;
            a {
                text-decoration: none;
                white-space: nowrap;
                color: $c5;
                border: 1px solid $c2;
                display: block;
                border-radius: 5px;
                line-height: 1;
                padding: .6em 0;
                text-align: center;
                transition: all .1s linear;
                &:hover {
                    color: $c2;
                }
                @include media(480px) {
                    padding: .8em 0;
                    font-size: 11px;
                }
            }
        }
    }
    .guide_column {
        color: $c3;
        &:first-of-type {
            border-bottom: 1px solid $c3;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }
        .creditlogo {
            padding: 0 5%;
        }
        .daibiki_price {
            margin: 0 auto;
        }
        .shipping_company {
            padding: 0 100px;
            @include media(1280px) {
                padding: 0 15%;
            }
            @include media(979px) {
                padding: 0 10%;
            }
        }
        .shipping_time {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: flex-start;
            p {
                white-space: nowrap;
            }
            img {
                max-width: 100%;
                height: auto;
                display: block;
            }
            .l_1st {
                flex: 1;
                .time_order {
                    padding-top: 5px;
                }
            }
            .l_2nd {
                flex: 0 1 75%;
                box-sizing: border-box;
                padding-left: 15px;
            }
        }
    }
}
.md_footerGuide_ttl {
    text-align: center;
    padding-bottom: 20px;
    span {
        color: $c3;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        &:before {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: auto 44px;
            height: 44px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &.payment {
        span {
            padding-left: 49px;
            &:before {
                width: 44px;
                background-image: url(../images/icn_foot_01.svg);
            }
        }
    }
    &.shipping {
        span {
            padding-left: 72px;
            &:before {
                width: 67px;
                background-image: url(../images/icn_foot_02.svg);
            }
        }
    }
    &.contact {
        span {
            padding-left: 52px;
            &:before {
                width: 47px;
                background-image: url(../images/icn_foot_04.svg);
            }
        }
    }
    &.faq {
        span {
            padding-left: 56px;
            &:before {
                width: 51px;
                background-image: url(../images/icn_foot_03.svg);
            }
        }
    }
}
.md_foot__phone {
    margin-right: 30px;
    display: block;
    transition: all .1s linear;
    @include media(767px) {
        margin-right: 10px;
    }
    &:hover {
        transform: scale(1.05);
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.md_foot__contact {
    display: block;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.md_foot__logo {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(979px) {
            padding-top: 10px;
            width: 50%;
            max-width: 180px;
            margin: 0 auto;
        }
    }
}
.md_foot__copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    .copyright {
        @include media(979px) {
            text-align: center;
        }
        @include media(767px) {
            text-align: left;
        }
        .mark {
            display: block;
            @include media(767px) {
                padding-top: 1em;
                text-align: center;
            }
        }
    }
    @include media(979px) {
        display: block;
    }
}

