@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";


.md_header {
    background-image: url(../images/head_line__bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: auto 36px;
    padding-top: 40px;
    padding-bottom: 70px;
    padding-left: 3%;
    padding-right: 3%;
    position: relative;
    &.gold {
        @include media(1366px) {
            padding-right: 90px;
        }
    }
    @include media(1024px) {
        padding-bottom: 5%;
    }
    @include media(660px) {
        padding-bottom: 10px;
    }
}
.md_header__wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include media(660px) {
        padding-left: 10px;
    }
}
.md_gnav__trigger {
    background: $c3;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 45px;
    right: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
    cursor: pointer;
    transition: all .1s linear;
    &:hover {
        background: lighten($c3,3%);
    }
    @include media(767px) {
        right: 10px;
    }
    .line {
        margin: 6px auto;
        display: block;
        width: 60%;
        height: 3px;
        background: #eee;
        border-radius: 3px;
    }
    .txt {
        display: block;
        font-size: 11px;
        color: #eee;
        line-height: 1;
    }
}
.md_header__gnav {
    margin-top: 5px;
    height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
.md_header__logo {
    margin-right: auto;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(480px) {
            width: 160px;
        }
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }
}
.md_header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    a.icon_nav {
        text-decoration: none;
        color: #000;
        position: relative;
        margin-right: 15px;
        transition: all .1s linear;
        @include media(660px) {
            display: none;
        }
        &.hide {
            span {
                display: none;
            }
        }
        span {
            white-space: nowrap;
            @include media(1200px) {
                display: none;
            }
        }
        &:hover {
            transform: scale(1.05);
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background-repeat: repeat-x;
            background-position: center top;
            background-size: auto 38px;
            transform: translateY(-50%);
            height: 38px;
        }
        &.shopping {
            padding-left: 31px;
            &:before {
                background-image: url(../images/icn_head_01.svg);
                width: 26px;
            }
        }
        &.cart {
            padding-left: 39px;
            &:before {
                background-image: url(../images/icn_head_02.svg);
                width: 34px;
            }
        }
    }
}
.md_header__search {
    position: relative;
    @include media(979px) {
        display: none;
    }
    input[type="search"] {
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        padding: 0 1em;
        padding-right: 25px;
        line-height: 30px;
        width: 100%;
        transition: all .2s linear;
        display: block;
        @include media(1280px) {
            width: 100px;
            padding-right: 1em;
            padding-left: 30px;
            &:focus {
                width: 100%;
            }
        }
    }
    .icon_search {
        position: absolute;
        right: 10px;
        top: 2px;
        line-height: 30px;
        cursor: pointer;
        @include media(1280px) {
            left: 10px;
            right: auto;
        }
    }
}
.md_nav__phone {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    &.head {
        margin: 0 15px;
        @include media(979px) {
            margin: 0;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            @include media(767px) {
                width: 200px;
            }
            @include media(660px) {
                display: none;
            }
        }
    }
}
.md_nav__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    @include media(979px) {
        display: none;
    }
}



.pg_index__slider {
    width: 100%;
    .slide_img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 100%;
    }
    .slide_caption {
        background: none;
    }
    .slide_txt {
        line-height: 1.4;
        text-align: center;
        color: #000;
        @include media(480px) {
            font-size: 24px;
        }
        @include media(480px) {
            font-size: 16px;
        }
        &.wh {
            color: #fff;
            @include media(600px) {
                font-size: 3.8vw;
            }
        }
        &.left {
            text-align: left;
            padding: 5% 0 0 5%;
            span {
                text-align: left;
            }
        }
        span {
            text-align: center;
        }
        .dn {
            display: none;
        }
    }
}


.sp-horizontal .sp-arrows {
    width: 100%;
    max-width: inherit;
}

.sp-arrow {
    width: 40px;
    height: 40px;
}
.sp-vertical .sp-arrow {
    transform: rotate(90deg);
}

.sp-horizontal .sp-previous-arrow {
    left: 20%;
}
.sp-horizontal .sp-next-arrow {
    right: 20%;
}

.sp-previous-arrow:before,
.sp-previous-arrow:after,
.sp-next-arrow:before,
.sp-next-arrow:after {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/sp-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sp-previous-arrow:before {
    left: -20px;
    top: 0;
    transform: rotate(180deg);
}

.sp-previous-arrow:after {
    display: none;
}

.sp-next-arrow:before {
    right: -20px;
    top: 0;
    transform: skew(0deg, 0deg);
}

.sp-next-arrow:after {
    display: none;
}





.pg_index__head {
    background: $c4;
    margin-bottom: 80px;
    @include media(767px) {
        margin-bottom: 40px;
    }
    @include media(600px) {
        margin-bottom: 0;
    }
}
.pg_index__nav {
    background: $c4;
    padding: 20px 0;
    @include media(767px) {
        padding-right: 2%;
        padding-left: 2%;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        li {
            flex: 0 1 33.3%;
            a {
                text-decoration: none;
                color: $base_font__color;
                transition: all .1s linear;
                &:hover {
                    color: $c1;
                    img {
                        opacity: .9;
                    }
                }
            }
        }
    }
}
.pg_index__navImg {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 234px;
        margin: 0 auto;
        border: 5px solid #fff;
    }
}
.pg_index__navTtl {
    margin-top: .65em;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
    @include media(767px) {
        font-size: 2vw;
    }
}

.pg_index__cat {
    padding-bottom: 80px;
    @include media(767px) {
        padding-bottom: 40px;
        &.rowcut {
            padding-bottom: 0;
        }
    }
}

.pg_index__catHead {
    padding-bottom: 20px;
    @include media(767px) {
        padding-bottom: 0;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.pg_index__catLink {
    text-align: center;
    padding-bottom: 80px;
    @include media(767px) {
        padding-bottom: 40px;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: rgba(255,255,255,1);
        background: $c1;
        border-radius: 10px;
        display: inline-block;
        padding: 6px;
        line-height: 1;
        box-shadow: 5px 5px 10px rgba(0,0,0,.25);
        transition: all .1s linear;
        &:hover {
            background: lighten($c1,5%);
        }
        span {
            border: 1px solid rgba(255,255,255,.6);
            display: block;
            border-radius: 6px;
            padding: .5em 80px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                background: url(../images/icn_arrow__3.svg) 0 0 repeat;
                background-size: cover;
                width: 42px;
                height: 20px;
                transform: translateY(-50%);
                @include media(767px) {
                    width: 32px;
                    height: 14px;
                    right: 10px;
                }
            }
        }
    }
}













