@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";

$navHeight: 56px;

.md_header {
    position: relative;
    @include media(700px) {
        padding-bottom: 40px;
    }
    @include media(540px) {
        padding-bottom: 20px;
    }
    &.gold {
    }
}

.md_header__wrap {
    background-image: url(../images/head_line__bg24.png);
    background-repeat: repeat-x;
    background-position: center bottom;
    background-size: auto 24px;
    padding-top: 24px;
    padding-bottom: 30px;
    padding-left: 3%;
    padding-right: 90px;
    @include media(540px) {
        padding-top: 10px;
    }
    .innr {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}

.md_gnav__trigger {
    background: $c3;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 16px;
    right: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
    cursor: pointer;
    transition: all .1s linear;
    &:hover {
        background: lighten($c3,3%);
    }
    @include media(767px) {
        right: 10px;
    }
    @include media(540px) {
        top: 8px;
    }
    .line {
        margin: 6px auto;
        display: block;
        width: 60%;
        height: 3px;
        background: #eee;
        border-radius: 3px;
    }
    .txt {
        display: block;
        font-size: 11px;
        color: #eee;
        line-height: 1;
    }
}
.md_header__gnav {
    height: $navHeight;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
.md_header__logo {
    margin-right: auto;
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }
}
.md_header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    a.icon_nav {
        text-decoration: none;
        color: #000;
        margin: 0 3px;
        transition: all .1s linear;
        height: $navHeight;
        line-height: $navHeight;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        @include media(540px) {
            display: none;
        }
        &.shopping {}
        span {
            white-space: nowrap;
            overflow: hidden;
            box-sizing: border-box;
            transition: all .3s linear;
            display: none;
        }
        &:hover {
            transform: scale(1.05);
        }
    }
    .icon {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: auto 38px;
            transform: translateY(-50%);
            height: 38px;
        }
        &.shopping {
            padding-left: 31px;
            &:before {
                background-image: url(../images/icn_head_01.svg);
                width: 26px;
            }
        }
        &.cart {
            padding-left: 39px;
            &:before {
                background-image: url(../images/icn_head_02.svg);
                width: 34px;
            }
        }
        &.faq {
            padding-left: 45px;
            &:before {
                background-image: url(../images/icn_foot_03.svg);
                background-size: auto 34px;
                width: 40px;
            }
        }
        &.rakuten {
            padding-left: 35px;
            &:before {
                background-image: url(../images/circle_logo.svg);
                background-size: auto 26px;
                width: 30px;
            }
        }
    }
}


.md_header__search {
    position: relative;
    display: none;
    input[type="search"] {
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        padding: 0 1em;
        padding-right: 25px;
        line-height: 30px;
        width: 100%;
        transition: all .2s linear;
        display: block;
        @include media(1280px) {
            width: 100px;
            padding-right: 1em;
            padding-left: 30px;
            &:focus {
                width: 100%;
            }
        }
    }
    .icon_search {
        position: absolute;
        right: 10px;
        top: 2px;
        line-height: 30px;
        cursor: pointer;
        @include media(1280px) {
            left: 10px;
            right: auto;
        }
    }
}
.md_nav__phone {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    pointer-events: none;
    @include media(480px) {
        pointer-events: auto;
    }
    &:hover {
        transform: scale(1.05);
    }
    &.head {
        margin: 0 15px;
        @include media(979px) {
            margin: 0;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            @include media(767px) {
                width: 200px;
            }
            @include media(700px) {
                display: none;
            }
        }
    }
}
.md_nav__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    @include media(979px) {
        display: none;
    }
}
.md_header__tnavWrap {
    position: relative;
}
.md_header__tnav {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    @include media(700px) {
        display: none;
    }
    > li {
        > a,.btn {
            font-size: 18px;
            text-decoration: none;
            color: $base_font__color;
            padding: 1em 0 20px 0;
            margin: 0 1em;
            display: block;
            cursor: pointer;
            position: relative;
            min-width: 140px;
            text-align: center;
            @include media(979px) {
                font-size: 16px;
                min-width: inherit;
                padding-right: 1em;
                padding-left: 1em;
            }
            &:hover {
                &:before {
                    opacity: 0;
                }
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 22px;
                left: 0;
                background-image: url(../images/md_headnav_bg.png);
                background-repeat: no-repeat;
                background-position: center bottom;
                background-size: auto 12px;
                width: 100%;
                height: 12px;
                z-index: -1;
                transition: all .2s linear;
            }
            &.arrow {
                position: relative;
                &:after {
                    font-size: 10px;
                    content: '\f078';
                    font-family: "Font Awesome 5 Free";
                    font-weight: bold;
                    position: absolute;
                    bottom: 8px;
                    left: 50%;
                    width: 12px;
                    height: 12px;
                    margin-left: -6px;
                }
            }
        }
        &.tnav_tiriger {
            position: relative;
            &:hover {
                > .children {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .children {
        position: absolute;
        left: 50%;
        bottom: -28px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        z-index: 99999;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .1s linear;
        @include media(960px) {
            left: 0;
            transform: translateX(-30%);
        }
        &.tar {
            @include media(960px) {
                left: auto;
                right: -45%;
                transform: translateX(0%);
            }
        }
        > li {
            > a {
                text-decoration: none;
                color: $base_font__color;
                padding: .5em 1em;
                display: block;
                white-space: nowrap;
                position: relative;
                transition: all .1s linear;
                @include media(979px) {
                    font-size: 12px;
                }
                &:hover {
                    color: $c2;
                }
                &:after {
                    content: '';
                    position: absolute;
                    top: 20%;
                    left: 0;
                    height: 60%;
                    width: 1px;
                    background: $c2;
                }
            }
            &:first-child {
                > a:after {
                    display: none;
                }
            }
        }
    }
}














.pg_index__slider {
    width: 100%;
    .slide_img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 100%;
    }
    .slide_caption {
        background: none;
    }
    .slide_txt {
        line-height: 1.4;
        text-align: center;
        color: #000;
        @include media(480px) {
            font-size: 24px;
        }
        @include media(480px) {
            font-size: 16px;
        }
        &.wh {
            color: #fff;
            @include media(600px) {
                font-size: 3.8vw;
            }
        }
        &.left {
            text-align: left;
            padding: 5% 0 0 5%;
            span {
                text-align: left;
            }
        }
        span {
            text-align: center;
        }
        .dn {
            display: none;
        }
    }
}


.sp-horizontal .sp-arrows {
    width: 100%;
    max-width: inherit;
}

.sp-arrow {
    width: 40px;
    height: 40px;
}
.sp-vertical .sp-arrow {
    transform: rotate(90deg);
}

.sp-horizontal .sp-previous-arrow {
    left: 20%;
}
.sp-horizontal .sp-next-arrow {
    right: 20%;
}

.sp-previous-arrow:before,
.sp-previous-arrow:after,
.sp-next-arrow:before,
.sp-next-arrow:after {
    width: 40px;
    height: 40px;
    background-color: transparent;
    background-image: url(../images/sp-arrow.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.sp-previous-arrow:before {
    left: -20px;
    top: 0;
    transform: rotate(180deg);
}

.sp-previous-arrow:after {
    display: none;
}

.sp-next-arrow:before {
    right: -20px;
    top: 0;
    transform: skew(0deg, 0deg);
}

.sp-next-arrow:after {
    display: none;
}





.pg_index__head {
    background: $c4;
    margin-bottom: 80px;
    @include media(767px) {
        margin-bottom: 40px;
    }
    @include media(600px) {
        margin-bottom: 0;
    }
}
.pg_index__nav {
    background: $c4;
    padding: 20px 0;
    @include media(767px) {
        padding-right: 2%;
        padding-left: 2%;
    }
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        li {
            flex: 0 1 33.3%;
            a {
                text-decoration: none;
                color: $base_font__color;
                transition: all .1s linear;
                &:hover {
                    color: $c1;
                    img {
                        opacity: .9;
                    }
                }
            }
        }
    }
}
.pg_index__navImg {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        width: 234px;
        margin: 0 auto;
        border: 5px solid #fff;
    }
}
.pg_index__navTtl {
    margin-top: .65em;
    text-align: center;
    line-height: 1.5;
    white-space: nowrap;
    @include media(767px) {
        font-size: 2vw;
    }
}

.pg_index__cat {
    padding-bottom: 80px;
    @include media(767px) {
        padding-bottom: 40px;
        &.rowcut {
            padding-bottom: 0;
        }
    }
}

.pg_index__catHead {
    padding-bottom: 20px;
    @include media(767px) {
        padding-bottom: 0;
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}
.pg_index__catLink {
    text-align: center;
    padding-bottom: 80px;
    @include media(767px) {
        padding-bottom: 40px;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: rgba(255,255,255,1);
        background: $c1;
        border-radius: 10px;
        display: inline-block;
        padding: 6px;
        line-height: 1;
        box-shadow: 5px 5px 10px rgba(0,0,0,.25);
        transition: all .1s linear;
        &:hover {
            background: lighten($c1,5%);
        }
        span {
            border: 1px solid rgba(255,255,255,.6);
            display: block;
            border-radius: 6px;
            padding: .5em 80px;
            position: relative;
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                background: url(../images/icn_arrow__3.svg) 0 0 repeat;
                background-size: cover;
                width: 42px;
                height: 20px;
                transform: translateY(-50%);
                @include media(767px) {
                    width: 32px;
                    height: 14px;
                    right: 10px;
                }
            }
        }
    }
}













