@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";


.rms_pc__sidebar {
* {
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}
small {
    font-size: 80%;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
    outline-width: 0;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
}
b,
strong {
    font-weight: bolder;
}

dfn {
    font-style: italic;
}
mark {
    background-color: #ff0;
    color: #000;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub {
    bottom: -0.25em;
}
sup {
    top: -0.5em;
}
legend {
    border: 0;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal;
}
img {
    border-style: none;
}
progress {
    vertical-align: baseline;
}
svg:not(:root) {
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
}



.rms_pc__sidebar {
    background: $c4;
    width: 300px;
    margin-right: 30px;
    @include media(1100px) {
        width: 100%;
        margin-right: 0;
    }
    .innr {
        padding: 20px;
        @include media(1200px) {
            padding-right: 4%;
            padding-left: 4%;
        }
        @include media(600px) {
            padding-right: 8%;
            padding-left: 8%;
        }
    }
}
.rms_pc__sidebarBanner {
    margin-bottom: 20px;
    background: #fff;
}

.rms_pc__sideNav {
    @include media(1100px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    > li {
        margin-bottom: 30px;
        @include media(1100px) {
            flex: 0 1 48%;
        }
        @include media(600px) {
            flex: 0 1 100%;
        }
    }
}
.rms_pc__sideNavTtl {
    position: relative;
    padding-left: 30px;
    letter-spacing: .2em;
    padding-bottom: 5px;
    a {
        text-decoration: none;
        color: $base_font__color;
    }
    &:before {
        content: '';
        position: absolute;
        top: 10%;
        left: 0;
        background-image: url(../images/md_icon__comeg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 19px;
        height: 25px;
    }
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        background-image: url(../images/side_bd.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 100%;
    }
}
.rms_pc__sideNavlow {
    > li {
        padding: 6px 10px 5px 30px;
        border-bottom: 1px solid #ccc;
        a {
            text-decoration: none;
            color: #000;
            display: block;
            padding: 5px 0;
        }
    }
}











