@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";
@import "base/_font_setting";
@import "base/_default";


.md_header {
    background-image: url(../images/head_line__bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    background-size: auto 36px;
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
    @include media(1366px) {
        padding-right: 90px;
    }
    @include media(1024px) {
        padding-bottom: 5%;
    }
    @include media(660px) {
        padding-bottom: 10px;
    }
}
.md_header__wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    @include media(1366px) {
        max-width: inherit;
        padding-left: 15px;
    }
    @include media(660px) {
        padding-left: 10px;
    }
}
.md_gnav__trigger {
    background: $c3;
    width: 56px;
    height: 56px;
    position: absolute;
    top: 45px;
    right: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
    cursor: pointer;
    @include media(767px) {
        right: 10px;
    }
    .line {
        margin: 6px auto;
        display: block;
        width: 60%;
        height: 3px;
        background: #eee;
        border-radius: 3px;
    }
    .txt {
        display: block;
        font-size: 11px;
        color: #eee;
        line-height: 1;
    }
}
.md_header__gnav {
    margin-top: 5px;
    height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
}
.md_header__logo {
    margin-right: auto;
    img {
        max-width: 100%;
        height: auto;
        display: block;
        @include media(480px) {
            width: 160px;
        }
    }
    a {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        height: 100%;
    }
}
.md_header__nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    a.icon_nav {
        text-decoration: none;
        color: #000;
        position: relative;
        margin-right: 15px;
        transition: all .1s linear;
        @include media(660px) {
            display: none;
        }
        &.hide {
            span {
                display: none;
            }
        }
        span {
            white-space: nowrap;
            @include media(1200px) {
                display: none;
            }
        }
        &:hover {
            transform: scale(1.05);
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background-repeat: repeat-x;
            background-position: center top;
            background-size: auto 38px;
            transform: translateY(-50%);
            height: 38px;
        }
        &.shopping {
            padding-left: 31px;
            &:before {
                background-image: url(../images/icn_head_01.svg);
                width: 26px;
            }
        }
        &.cart {
            padding-left: 39px;
            &:before {
                background-image: url(../images/icn_head_02.svg);
                width: 34px;
            }
        }
    }
}
.md_header__search {
    position: relative;
    @include media(979px) {
        display: none;
    }
    input[type="search"] {
        border: 2px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        padding: 0 1em;
        padding-right: 25px;
        line-height: 30px;
        width: 100%;
        transition: all .2s linear;
        display: block;
        @include media(1280px) {
            width: 100px;
            padding-right: 1em;
            padding-left: 30px;
            &:focus {
                width: 100%;
            }
        }
    }
    .icon_search {
        position: absolute;
        right: 10px;
        top: 2px;
        line-height: 30px;
        @include media(1280px) {
            left: 10px;
            right: auto;
        }
    }
}
.md_nav__phone {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    &.head {
        margin: 0 15px;
        @include media(979px) {
            margin: 0;
        }
        img {
            max-width: 100%;
            height: auto;
            display: block;
            @include media(767px) {
                width: 200px;
            }
            @include media(660px) {
                display: none;
            }
        }
    }
}
.md_nav__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    transition: all .1s linear;
    &:hover {
        transform: scale(1.05);
    }
    @include media(979px) {
        display: none;
    }
}
