@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";
@import "base/_font_setting";
@import "base/_default";

.rms_pc__header {
    height: 171px;
}
.rms_pc__headerIframe {
    height: 171px;
    z-index: 9999;
    position: absolute;
    left: 0;
    width: 100%;
    min-width: 1200px;
    margin: 0;
    iframe {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}


.rms_pc__sidebar {
    background: $c4;
    width: 300px;
    margin-right: 30px;
    .innr {
        padding: 20px;
    }
}
.rms_pc__sidebarBanner {
    margin-bottom: 20px;
    background: #fff;
}

.rms_pc__sideNav {}
