@charset "utf-8";
@import "core/_mixin";
@import "base/_base_setting";
@import "base/_font_setting";
@import "base/_default";

@keyframes scroll_angle{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
@keyframes scroll_line{
    0%{
        transform:scaleY(0);
        transform-origin:center top
    }30%{
        transform:scaleY(1);
        transform-origin:center top
    }60%{
        transform:scaleY(1);
        transform-origin:center bottom
    }100%{
        transform:scaleY(0);
        transform-origin:center bottom
    }
}

/*-----------------------------------------------
__common
-----------------------------------------------*/
body {
}
.md_contact__phone {
    @include media(979px) {
        text-align: center;
    }
    &.pt_lrg {
        padding-top: 100px;
        @include media(979px) {
            padding: 40px 0;
        }
    }
    @include media(1024px) {
        padding-right: 5%;
        padding-left: 5%;
    }
    a {
        text-decoration: none;
        color: #000;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
        @include media(979px) {
            display: inline-block;
            box-sizing: border-box;
        }
        span {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            @include media(979px) {
                justify-content: center;
            }
            img {
                padding: 0 5px;
                @include media(979px) {
                    padding: 5px 0;
                }
            }
        }
    }
}

/*-----------------------------------------------
__layout
-----------------------------------------------*/
.l_row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    &.posr {
        position: relative;
    }
    &.pd_side {
        padding-right: 5%;
        padding-left: 5%;
    }
}
.l_innerWidth {
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
}
/*-----------------------------------------------
__header
-----------------------------------------------*/
@import "parts/_header";

/*-----------------------------------------------
__footer
-----------------------------------------------*/
@import "parts/_footer";

/*-----------------------------------------------
__page common
-----------------------------------------------*/
.md_hero {
    height: 60vh;
    max-height: 660px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center center;
    @include media(1280px) {
        max-height: inherit;
        height: 50vh;
    }
    &.vision {
        background-image: url(../images/md_hero__vision.jpg);
    }
    &.process {
        background-image: url(../images/md_hero__process.jpg);
    }
    &.company {
        background-image: url(../images/md_hero__company.jpg);
        background-position: center center;
    }
}

.md_chapter__ttl {
    text-align: center;
    position: relative;
    padding-top: 100px;
    white-space: nowrap;
    @include media(979px) {
        padding-right: 5%;
        padding-left: 5%;
    }
    @include media(767px) {
        padding-top: 80px;
    }
    @include media(600px) {
        padding-top: 60px;
    }
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        background-size: cover;
        width: 300px;
        height: 80px;
        transform: translateX(-50%);
        @include media(767px) {
            width: 200px;
            height: 60px;
        }
        @include media(600px) {
            width: 160px;
            height: 40px;
        }
    }
    &.slogan:before {
        background: url(../images/pg_vision_01.svg) bottom center no-repeat;
    }
    &.commit:before {
        background: url(../images/pg_vision_02.svg) bottom center no-repeat;
    }
    &.issue:before {
        background: url(../images/pg_vision_03.svg) bottom center no-repeat;
    }
    &.possibility:before {
        background: url(../images/pg_vision_03.svg) bottom center no-repeat;
    }
    &.seimai:before {
        background: url(../images/pg_process_02.svg) bottom center no-repeat;
    }
    &.blend:before {
        background: url(../images/pg_process_03.svg) bottom center no-repeat;
    }
    &.area:before {
        background: url(../images/pg_process_04.svg) bottom center no-repeat;
    }
    &.sense:before {
        background: url(../images/pg_company01.svg) bottom center no-repeat;
    }
    &.product:before {
        background: url(../images/pg_company02.svg) bottom center no-repeat;
    }
    span {
        font-size: 40px;
        display: inline-block;
        box-sizing: border-box;
        padding-bottom: 1em;
        letter-spacing: .25em;
        text-indent: .25em;
        &.lt_sm {
            letter-spacing: .2em;
            text-indent: .2em;
            @include media(660px) {
                letter-spacing: .15em;
                text-indent: .15em;
            }
        }
        @include media(979px) {
            font-size: 30px;
        }
        @include media(660px) {
            font-size: 4.5vw;
            letter-spacing: .2em;
            text-indent: .2em;
        }
    }
}
.md_chapter__summary {
    letter-spacing: .1em;
    text-align: justify;
    @include media(979px) {
        padding-right: 5%;
        padding-left: 5%;
    }
    @include media(480px) {
        font-size: 12px;
        padding-right: 8%;
        padding-left: 8%;
    }
    small {
        display: block;
    }
    p {
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.md_chapter__link {
    text-align: center;
    margin-top: 40px;
    a {
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        color: $base_font__color;
        position: relative;
        padding: 0 1em;
        &:after {
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background: $base_font__color;
        }
    }
}
.md_chapter__intro {
    font-size: 40px;
    text-align: center;
    padding: 0 5%;
    @include media(979px) {
        font-size: 30px;
    }
    @include media(660px) {
        font-size: 5vw;
        letter-spacing: .1em;
        text-indent: -.1em;
    }
}
.md_chapter__section {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 0 0 0;
    &.mt {
        padding-top: 60px;
    }
}
.md_chapter__sectionTtl {
    margin-bottom: .75em;
    &.come {
        @include media(767px) {
            font-size: 18px;
        }
        @include media(480px) {
            text-align: center;
            font-size: 14px;
        }
        span {
            padding-left: 28px;
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            @include media(767px) {
                padding-left: 20px;
            }
            @include media(480px) {
                text-align: center;
            }
            &:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                background: url(../images/md_index_come.svg) 0 0 no-repeat;
                width: 20px;
                height: 26px;
                transform: translateY(-50%);
                @include media(767px) {
                    width: 15px;
                    height: 20px;
                }
            }
        }
    }
}
.md_chapter__sectionSummary {
    text-align: justify;
    letter-spacing: .05em;
    @include media(480px) {
        font-size: 12px;
    padding-right: 3%;
    padding-left: 3%;
    }
}
.md_chapter__sectionGallery {
    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
    &.flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        figcaption {
            margin-top: .75em;
            letter-spacing: .05em;
            line-height: 1.5;
            text-align: justify;
            @include media(480px) {
                font-size: 10px;
            }
        }
        .flex50 {
            flex: 0 1 48%;
            @include media(480px) {
                flex: 0 1 94%;
                margin: 0 auto;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    &.mt {
        margin-top: 2em;
    }
}
.md_chapter__wrap {
    padding-right: 5%;
    padding-left: 5%;
    @include media(480px) {
        padding-right: 8%;
        padding-left: 8%;
        &.fst {
            margin-top: 30px;
        }
    }
    &.birth {
        background-size: cover;
        background-position: center center;
        background-image: url(../images/pg_company_bg02.jpg);
        padding-top: 60px;
        padding-bottom: 60px;
        margin: 60px 0;
    }
}

.md_chapter__list {
    max-width: 860px;
    margin: 0 auto;
    padding: 60px 0 0 0;
    &.top_nomargin {
        padding-top: 0;
    }
    @include media(979px) {
        padding-right: 5%;
        padding-left: 5%;
    }
    li {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 50px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .l_img {
        flex: 0 1 42%;
        background-size: cover;
        background-position: center center;
        @include media(660px) {
            flex: 0 1 100%;
            padding-top: 55.25%;
        }
        &.process_img01 {
            background-image: url(../images/pg_process_05.jpg);
        }
        &.process_img02 {
            background-image: url(../images/pg_process_06.jpg);
        }
        &.process_img03 {
            background-image: url(../images/pg_process_07.jpg);
        }
        &.process_img04 {
            background-image: url(../images/pg_process_08.jpg);
        }
        &.process_img05 {
            background-image: url(../images/pg_process_09.jpg);
        }
        &.process_img06 {
            background-image: url(../images/pg_process_10.jpg);
        }
        &.process_img07 {
            background-image: url(../images/pg_process_11.jpg);
        }
        &.process_img08 {
            background-image: url(../images/pg_process_12.jpg);
        }

    }
    .l_txt {
        flex: 0 1 54%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        min-height: 240px;
        @include media(660px) {
            flex: 0 1 100%;
            min-height: inherit;
        }
    }
}
.md_chapter__listTtl {
    @include media(660px) {
        text-align: center;
        width: 100%;
    }
    span {
        display: block;
        margin-bottom: .5em;
        position: relative;
        padding-left: 30px;
        @include media(660px) {
            display: inline-block;
            box-sizing: border-box;
            margin: 1em 0;
        }
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            background: url(../images/md_index_come.svg) 0 0 no-repeat;
            width: 18px;
            height: 24px;
            transform: translateY(-50%);
        }
    }
}
.md_chapter__listSummary {
    text-align: justify;
    letter-spacing: .055em;
    @include media(480px) {
        font-size: 12px;
        padding-right: 5%;
        padding-left: 5%;
    }
}




/*-----------------------------------------------
__page vision
-----------------------------------------------*/
.pg_visionIntro__ttlWrap {
    padding-bottom: 300px;
    position: relative;
    @include media(1200px) {
        padding-bottom: 240px;
    }
    @include media(979px) {
        padding-bottom: 30%;
    }
    @include media(660px) {
        padding-bottom: 20%;
    }
    @include media(480px) {
        padding-bottom: 30%;
    }
}
.pg_visionIntro__ttl {
    max-width: 860px;
    margin: 0 auto;
    text-align: right;
    padding-top: 100px;
    padding-bottom: 0;
    padding-right: 100px;
    position: relative;
    @include media(979px) {
        padding-top: 10%;
        text-align: center;
        padding-right: 0;
    }
    &:before {
        content: '';
        position: absolute;
        top: -8%;
        left: 5%;
        width: 548px;
        height: 428px;
        background: url(../images/bg_vison_01.png) top center no-repeat;
        background-size: cover;
        z-index: 0;
        @include media(1200px) {
            width: 50%;
            background-size: 100% auto;
        }
    }
    span {
        font-size: 50px;
        display: inline-block;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
        @include media(979px) {
            font-size: 40px;
            padding-left: 0;
        }
        @include media(767px) {
            font-size: 36px;
        }
        @include media(660px) {
            font-size: 6vw;
            letter-spacing: .2em;
            text-indent: .2em;
        }
        &:after {
            content: '';
            position: absolute;
            top: -50px;
            right: -100px;
            background: url(../images/icn_quote.png) top center no-repeat;
            background-size: cover;
            width: 72px;
            height: 54px;
            @include media(1200px) {
                transform: translateX(-85%);
                width: 12%;
                right: -28%;
                background-size: 100% auto;
            }
            @include media(979px) {
                top: -45%;
            }
            @include media(660px) {
            }
        }
    }
}
.pg_visionIntro__sttl {
    position: absolute;
    bottom: 70px;
    left: 54%;
    @include media(1200px) {
        bottom: 90px;
        left: 50%;
    }
    @include media(1200px) {
        bottom: 21%;
        left: 50%;
    }
    @include media(660px) {
        bottom: 7%;
        left: 50%;
    }
    @include media(480px) {
        bottom: 5%;
        left: auto;
        right: 5%;
    }
    span {
        display: block;
        text-align: left;
        font-size: 28px;
        letter-spacing: .2em;
        @include media(979px) {
            font-size: 22px;
        }
        @include media(660px) {
            font-size: 16px;
        }
    }
}
.pg_visionSec {
    padding: 100px 0;
    @include media(767px) {
        padding: 80px 0;
    }
    @include media(480px) {
        padding: 60px 0;
    }
    &.slogan {
        padding-top: 40px;
    }
    &.commit {
        padding-bottom: 15vw;
        background-image: url(../images/pg_vision_bg01.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-color: #e0eefb;
        background-size: cover;
        @include media(979px) {
            padding-bottom: 20%;
            background-size: 1000px;
        }
        @include media(660px) {
            padding-bottom: 24%;
            background-size: 600px;
        }
    }
    &.otherstory {
        @include media(1280px) {
            padding-right: 5%;
            padding-left: 5%;
        }
        @include media(1280px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include media(660px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        li {
            position: relative;
            padding: 20px 0 40px 0;
            margin-bottom: 20px;
            color: $c3;
            overflow: hidden;
            @include media(1024px) {
                padding-right: 5%;
                padding-left: 5%;
                padding-bottom: 4%;
            }
            @include media(660px) {
                padding-right: 8%;
                padding-left: 8%;
                padding-bottom: 6%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 45px;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/bg_suisai__seem01.jpg) bottom center repeat;
                background-size: cover;
                z-index: -1;
            }
            .l_flex {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                @include media(767px) {
                    flex-wrap: wrap;
                }
            }
        }
        .otherstory_ttl {
            margin-bottom: 40px;
            @include media(660px) {
                margin-bottom: 30px;
            }
            span {
                display: inline-block;
                box-sizing: border-box;
                position: relative;
                padding: 0 .75em;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    height: 1px;
                    background: $c3;
                    border-bottom: 1px solid $c3;
                    width: 100%;
                    z-index: 1;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -18px;
                    left: 50%;
                    width: 20px;
                    height: 14px;
                    background: url(../images/bg_arrow__bottom.svg) 0 0 no-repeat;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
        }
        .otherstory_thumb {
            flex: 0 1 25%;
            @include media(979px) {
                flex: 0 1 40%;
            }
            @include media(767px) {
                flex: 0 1 100%;
            }
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
                @include media(767px) {
                    padding-top: 20px;
                    width: 50%;
                    margin: 0 auto;
                }
                @include media(600px) {
                    width: 80%;
                }
            }
        }
        .otherstory_summary {
            &.pr {
                padding-right: 20px;
                @include media(767px) {
                    padding-right: 0;
                }
            }
            flex: 1;
            text-align: justify;
            @include media(480px) {
                font-size: 12px;
            }
        }
    }
    &.issue {
        background-image: url(../images/pg_vision_bg02.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        background-color: #f2f1ed;
        @include media(979px) {
            background-size: 1000px;
            background-position: bottom left;
        }
        @include media(660px) {
            background-size: 600px;
        }
    }
}


.pg_vision__item {
    background: url(../images/bg_vison_03.jpg) 0 0 repeat;
    margin-top: 100px;
    padding: 60px 0;
    max-width: 1200px;
    margin: 0 auto;
    @include media(767px) {
        margin-top: 40px;
    }
    @include media(767px) {
        padding-top: 30px;
    }
}
.pg_vision__itemInnr {
    max-width: 860px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    @include media(979px) {
        padding: 0 5%;
    }
    .l_img {
        flex: 0 1 60%;
        box-sizing: border-box;
        position: relative;
        @include media(979px) {
            flex: 0 1 50%;
        }
        @include media(540px) {
            flex: 0 1 100%;
        }
        &:after {
            content: '';
            position: absolute;
            top: -120px;
            left: 2%;
            background: url(../images/icn_ourrec.png) 0 0 repeat;
            background-size: cover;
            width: 200px;
            height: 210px;
            @include media(979px) {
                width: 160px;
                height: 170px;
                left: -8%;
            }
            @include media(767px) {
                width: 120px;
                height: 125px;
                top: -80px;
                left: -3%;
            }
            @include media(540px) {
                width: 80px;
                height: 85px;
                top: -50px;
                left: 10%;
            }
        }
        img {
            padding-left: 25%;
            width: 100%;
            max-width: 100%;
            height: auto;
            display: block;
            position: relative;
            z-index: 1;
            @include media(979px) {
                padding-left: 10%;
            }
            @include media(540px) {
                padding: 0;
                width: 60%;
                margin: 0 auto;
            }
        }
    }
    .l_txt {
        flex: 0 1 40%;
        @include media(979px) {
            flex: 0 1 50%;
        }
        @include media(540px) {
            flex: 0 1 100%;
        }
    }
}
.pg_vision__itemTxt {
    padding-top: 30px;
    padding-left: 5%;
    @include media(540px) {
        padding-top: 0;
        padding-left: 0;
    }
    .itemttl {
        line-height: 1.2;
        text-align: center;
        margin-bottom: 30px;
        @include media(540px) {
            margin-bottom: 10px;
            font-size: 24px;
        }
    }
    .ttl {
        text-align: center;
        margin-bottom: 30px;
        @include media(540px) {
            margin-bottom: 15px;
        }
        span {
            background: $c1;
            display: inline-block;
            box-sizing: border-box;
            color: #fff;
            white-space: nowrap;
            line-height: 1;
            padding: .3em 1em;
            border-radius: 1em;
        }
    }
    p {
        text-align: justify;
        @include media(540px) {
            padding-right: 3%;
            padding-left: 3%;
            font-size: 12px;
        }
    }
}
.pg_vision__itemLink {
    max-width: 860px;
    margin: 0 auto;
    padding: 40px 0;
    @include media(979px) {
        width: 80%;
        height: auto;
        padding-bottom: 0;
    }
    @include media(600px) {
        width: 90%;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: rgba(255,255,255,1);
        background: $c1;
        border-radius: 10px;
        display: block;
        padding: 8px;
        line-height: 1;
        @include media(600px) {
            padding: 6px;
        }
        span {
            border: 1px solid rgba(255,255,255,.6);
            display: block;
            border-radius: 6px;
            padding: .6em 0;
            position: relative;
            @include media(600px) {
                font-size: 16px;
                padding: 1em 0;
            }
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: 20px;
                background: url(../images/icn_arrow__3.svg) 0 0 repeat;
                background-size: cover;
                width: 42px;
                height: 20px;
                transform: translateY(-50%);
                @include media(767px) {
                    width: 32px;
                    height: 14px;
                    right: 10px;
                }
            }
        }
    }
}




/*-----------------------------------------------
__page process
-----------------------------------------------*/
.pg_process__contents {}
.pg_processSec {
    padding: 100px 0;
    @include media(767px) {
        padding: 80px 0;
    }
    @include media(480px) {
        padding: 60px 0;
    }
    &.nobg {
        padding: 60px 0;
        @include media(767px) {
            padding: 80px 0;
        }
        @include media(480px) {
            padding: 40px 0;
        }
    }
    &.psmall {}
    &.into {
        padding: 10% 0;
        margin-top: 40px;
        margin-bottom: 60px;
        background-image: url(../images/pg_process_01.jpg);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        @include media(767px) {
            margin-bottom: 0px;
        }
    }
    &.seimai {
    }
    &.otherstory {
        @include media(1280px) {
            padding-right: 5%;
            padding-left: 5%;
        }
        @include media(1280px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        @include media(660px) {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        li {
            position: relative;
            padding: 20px 0 40px 0;
            margin-bottom: 20px;
            color: $c3;
            overflow: hidden;
            @include media(1024px) {
                padding-right: 5%;
                padding-left: 5%;
                padding-bottom: 4%;
            }
            @include media(660px) {
                padding-right: 8%;
                padding-left: 8%;
                padding-bottom: 6%;
            }
            &:after {
                content: '';
                position: absolute;
                top: 45px;
                left: 0;
                width: 100%;
                height: 100%;
                background: url(../images/bg_suisai__seem01.jpg) bottom center repeat;
                background-size: cover;
                z-index: -1;
            }
            .l_flex {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: flex-start;
                @include media(767px) {
                    flex-wrap: wrap;
                }
            }
        }
        .otherstory_ttl {
            margin-bottom: 40px;
            @include media(660px) {
                margin-bottom: 30px;
            }
            span {
                display: inline-block;
                box-sizing: border-box;
                position: relative;
                padding: 0 .75em;
                &:before {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    height: 1px;
                    background: $c3;
                    border-bottom: 1px solid $c3;
                    width: 100%;
                    z-index: 1;
                }
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -18px;
                    left: 50%;
                    width: 20px;
                    height: 14px;
                    background: url(../images/bg_arrow__bottom.svg) 0 0 no-repeat;
                    transform: translateX(-50%);
                    z-index: 2;
                }
            }
        }
        .otherstory_thumb {
            flex: 0 1 25%;
            @include media(979px) {
                flex: 0 1 40%;
            }
            @include media(767px) {
                flex: 0 1 100%;
            }
            img {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
                @include media(767px) {
                    padding-top: 20px;
                    width: 50%;
                    margin: 0 auto;
                }
                @include media(600px) {
                    width: 80%;
                }
            }
        }
        .otherstory_summary {
            &.pr {
                padding-right: 20px;
                @include media(767px) {
                    padding-right: 0;
                }
            }
            flex: 1;
            text-align: justify;
            @include media(480px) {
                font-size: 12px;
            }
        }
    }
    &.pdcontroll {
        @include media(767px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    &.issue {
        background-image: url(../images/pg_vision_bg02.jpg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: cover;
        background-color: #f2f1ed;
        @include media(979px) {
            background-size: 1000px;
            background-position: bottom left;
        }
        @include media(660px) {
            background-size: 600px;
        }
    }
    &.area {
        @include media(480px) {
            padding-top: 60px;
        }
    }
}
.pg_process__link {
    margin-top: 40px;
    a {}
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        @include media(767px) {
            width: 60%;
            min-width: 300px;
        }
    }
}


/*-----------------------------------------------
__page process
-----------------------------------------------*/
.pg_companySec {
    padding: 100px 0;
    @include media(767px) {
        padding: 80px 0;
    }
    @include media(480px) {
        padding: 60px 0 20px 0;
    }
    &.contents {
    }
    &.into {
        padding: 10% 0 15% 0;
        margin-top: 40px;
        margin-bottom: 60px;
        background-image: url(../images/pg_company_bg01.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        @include media(767px) {
            margin-bottom: 0px;
        }
        @include media(600px) {
            padding-top: 60px;
            padding-bottom: 25%;
        }
        p {
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.product {
        padding: 100px 0;
        @include media(767px) {
            padding: 80px 0;
        }
        @include media(480px) {
            padding: 60px 0;
        }
    }
    &.slogan {
        padding: 100px 0 60px 0;
        margin-bottom: 40px;
        background-image: url(../images/pg_company_bg03.jpg);
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
        @include media(767px) {
            padding: 0;
        }
    }
}

.pg_company__intro {
    text-align: center;
    @include media(767px) {
        font-size: 16px;
        padding: 0 3%;
    }
    @include media(600px) {
        font-size: 14px;
        text-align: left;
        padding: 0 5%;
        text-align: justify;
        br {
            display: none;
        }
    }
}
.pg_company__item {
    .ttl {
        text-align: center;
        margin-bottom: 30px;
        @include media(540px) {
            margin-bottom: 15px;
        }
        span {
            background: $c1;
            display: inline-block;
            box-sizing: border-box;
            color: #fff;
            white-space: nowrap;
            line-height: 1;
            padding: .3em 1em;
            border-radius: 1em;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
        padding-bottom: 20px;
        @include media(600px) {
            width: 60%;
            margin: 0 auto;
        }
    }
    p {
        text-align: justify;
        padding: 0 5%;
        @include media(480px) {
            font-size: 12px;
        }
    }
}
.pg_company__product {
    max-width: 860px;
    margin: 0 auto;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    li {
        flex: 0 1 48%;
        @include media(600px) {
            flex: 0 1 100%;
        }
    }
}








